/*
* Style-sheet for the plugin
*/
@import url('http://fonts.googleapis.com/css?family=Oswald:300');

#mkgd-wrap{font-family: 'Oswald', aria, verdana, sans-serif;}
#mkgd-wrap #mkgd-map-canvas, #mkgd-wrap #map_canvas {
  border: solid 5px #000;
  margin-bottom: 10px;
}

#mkgd-wrap .mkgd-form{}
#mkgd-wrap .mkgd-form li{list-style: none;margin-bottom: 10px!important;font-weight: bold;}

#mkgd-wrap .mkgd-form label{display: block;float: left; width: 100px;font-weight: bold;}
#mkgd-wrap .mkgd-form input[type='button']{margin-left: 100px;font-weight: bold;}

#mkgd-wrap #directions{}
#mkgd-wrap #directions h4{margin: 0px 0px 10px 0px;padding: 0px}
#mkgd-wrap #directions li{list-style: inside;margin: 0px; padding: 5px}
#mkgd-wrap #directions li:nth-child(odd) {background: #EEE;color: #444;}
#mkgd-wrap #directions li:nth-child(even) {color: #444;}
#mkgd-wrap #directions li div{padding-left: 15px;}

.mkgd-error{background-color: #F2C6C6;color: #FF0000;padding: 5px;border: solid 1px #FF0000;}
